/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-font:#3A404E;
    font-family: 'Inter', sans-serif;
  }
/*  */

.navbar{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar__logo{
    color:var(--title-font);
    font-weight:700;
    display: flex;
    align-items: center;
    
}
.navbar__logo > img, .title{
    padding: 5px;
}

.navbar__menu{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.navbar__menu--item{
    padding: 5px;
}
.navbar__button{
    padding: 10px;
    border-radius: 5px;
    border:none;
    font-family: 'Inter', sans-serif;

}
.navbar__button--signin{
    background-color: brown;
    color: white;
}
.navbar__button--signup{
    color: var(--text-color);
}

/* Main */
.main{
    margin:0 12vw ;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}
.main__about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:96px 12vw 96px 12vw ;
}

.main__about h3{
    color: var(--main-color);
}
.main__about h1{
    font-size: 48px;
    text-align: center;
}
.main__about span{
    text-align: center;
    
    color: var(--text-color);
}
.main__information{
    display: flex;
    justify-content: space-around;
    
}
.main__information--item{
    padding: 0px;
    margin: 32px 32px;
    
}
.main__information--item:first-child{
    margin-left: 25px;
}
.main__information--item h1{
    color: var(--main-color);
    font-size: 60px;
}
.main__information--item p{
    color: var(--text-color);

}
/* JOBS */
.jobs{
    margin-top: 96px;
    margin-bottom: 96px;
}
.jobs__panel span{
    color: var(--main-color);
    padding: 10px;
    border-radius: 16px;
    background-color: rgba(142, 36, 36, 0.05);;
   
}
.jobs__panel p{
    color: var(--text-color);
}

.jobs__panel{
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.jobs__panel img{
    border-radius: 10px;
    width: 80vw;
}

.jobs__offer{
    margin:50px;
    
}
.jobs__offer--card{
    border: 1px solid #EAECF0;
    border-radius: 5px;
    padding: 24px 24px 28px 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    
}
.jobs__offer--card li{
    color: var(--text-color);
    list-style:none;
}


/* Colaboradores */

.colaboradores{
    padding: 80px;
    border-radius: 20px;
    margin:0px 12vw 96px 12vw ;
    background-color: rgba(142, 36, 36, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colaboradores h1{
    text-align: center;
}
.colaboradores figcaption{
    margin-top: 20px;
}

.colaboradores span{
    color: var(--main-color);
}
.colaboradores p{
    color: var(--text-color);
    text-align: center;
}
.colaboradores__figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.colaboradores__figure img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    image-resolution: 100px;
}
/* Footer - Newsletter */
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;

}

.newsletter p, .newsletter span{
    color: var(--text-color);
    
}
#navbar__btn--mobile{
    display: none;
}

/* RESPONSIVE  */
@media (max-width: 800px){
    .main__information{
        display: flex;
        flex-direction: column;
    }
    .jobs__panel, .main__information--item{
        text-align: center;
    }
    .jobs__offer span, .jobs__offer--card > span{
        text-align: center;
    }
    .jobs__offer--card{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .colaboradores{
        padding: 40px;
    }
    .colaboradores h1{
        font-size: small;
    }
    .colaboradores span{
        text-align: center;
    }
    .navbar__menu,.buttons-group{
        display: none;
    }
    .navbar{
        justify-content: center;
    }
    .newsletter h1,.newsletter span, .newsletter p{
        font-size: small;
        text-align: center;
    }
    .newsletter{
        text-align: center;
    }
    .newsletter input:last-child{
        margin-top: 10px;
    }
    


    /* SIDE MENU */
    #btn-mobile{
        display: block;
    }   
    .navbar__menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--main-color);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }
      #nav__mobile.active .navbar__menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
      }
      .navbar__menu li {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
        color: white;
        
      }
      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        width: 20px;
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav__mobile.active #hamburger {
        border-top-color: transparent;
      }
      #nav__mobile.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav__mobile.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    

}